
* {
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 181, 44, 0.699);    /*Obvious*/
    margin-left: 40px;
}

p {
    margin-bottom: 30px;
    font-size: 1.3rem;

}

h1 {
    width: 40em;
    background-color: #ddd;
    border-radius: 20px 160px;
    border: medium solid rgb(192, 94, 231);
    padding: 1rem 2rem;
    outline: 4px solid blue;
    outline-offset: 4px;
    font-family: "monospace";
}

.inhalt {                          /*classes will be called with a . before the name in css*/
    display: flex;                  /* tells css to allign parent and child next to eachother*/
    align-items: flex-start;
    gap: 60px;
}

table {
    border-collapse: collapse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 140%;
}

th, td {
    background-color: rgb(224, 183, 240);
    border: 2px solid;
    padding: 10px;
    text-align: center;
}

.ereignisse {
    max-width: 500px;                /* width of the whole textfield, too low and you´ll have a few words before going to the next line. With this it set´s a maximum*/
    font-size: 1.2rem;
}

td:nth-child(6) {                           /* every 6th cell in the table is colored blue, cause td´s are childs to tr */
    background-color: rgb(89, 126, 230);
}

td:nth-child(7) {
    background-color: rgb(250, 94, 94);
}